<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><%- include('partials/navigation') %></header>
    <main
      class="container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <p class="h4 container-md p-4">
          Mi nombre es Franco Ruben Melazo estoy en constante capacitación en
          programacion, soy abogado y emprendedor. Trabaje 6 meses en
          BairesTalent como soporte del sistema de seguimiento de candidatos y
          utilizaba principalmente javascript,html y css. Tengo conocimientos en
          Back End y Front End. Me concidero una persona proactiva, sincera en
          sentimiento de crecimiento grupal y tengo deseo de crecer
          profesionalmente. A continuación les presento mis skills:
        </p>
        <div
          class="row container-sm -md vh-100 vw-100 d-flex align-items-start"
        >
          <div class="col-sm-4">
            <a href="/curriculum">
              <img
                src="/img/html-5.png"
                class="img-fluid p-4 m-2 border border-info"
                width="30%"
                alt="html"
              />
              <img
                src="/img/css-3.png"
                class="img-fluid p-4 m-2 border border-info"
                width="30%"
                alt="css"
              />
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/curriculum">
              <img
                src="/img/bootstrap.png"
                class="img-fluid m-2 p-4 border border-info"
                width="30%"
                alt="bootstrap"
              />
              <img
                src="/img/js.png"
                class="img-fluid p-4 m-2 border border-info"
                width="30%"
                alt="javascript"
              />
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/curriculum">
              <img
                src="/img/wordpress.png"
                class="img-fluid p-4 m-2 border border-info"
                width="30%"
                alt="wordpress"
              />
              <img
                src="/img/figma.png"
                class="img-fluid p-4 m-2 border border-info"
                width="30%"
                alt="figma"
              />
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/curriculum">
              <img
                src="/img/github.png"
                class="img-fluid p-4 m-2 border border-info"
                width="30%"
                alt="github"
              />
              <img
                src="/img/mysql.png"
                class="img-responsive p-4 m-2 border border-info"
                width="30%"
                alt="mysql"
              />
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/curriculum">
              <img
                src="/img/mongodb.png"
                class="img-responsive p-4 m-2 border border-info"
                width="30%"
                alt="mongodb"
              />
              <img
                src="/img/nodejs.png"
                class="img-responsive p-4 m-2 border border-info"
                width="30%"
                alt="nodejs"
              />
            </a>
          </div>
        </div>
        <div>
          <a href="/curriculum" class="btn btn-primary w-25">Curriculum</a>
        </div>
      </section>
    </main>
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
